DATABASE_URL=postgresql://user:password@localhost:5432/memeinvestor
RPC_URL=https://api.mainnet-beta.solana.com
WS_URL=wss://api.mainnet-beta.solana.com
ENV=development
JITO_BLOCK_ENGINE_URL=https://mainnet.block-engine.jito.wtf
